<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884044940776-722ddrusnqjmpju90vf0b21qnb83n50m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884044940776-722ddrusnqjmpju90vf0b21qnb83n50m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884044940776-fmkfnhjgmk0vbifr0aqok9etdn8cl9rs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4MGwbOEtDQyBPkByYIbbjidPPjSUmGo</string>
	<key>GCM_SENDER_ID</key>
	<string>884044940776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.talkHub</string>
	<key>PROJECT_ID</key>
	<string>talk-hub-d1cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-hub-d1cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884044940776:ios:f0c4be6de4ef35499a105d</string>
</dict>
</plist>